.fab,
.far,
.fas {
    color: dodgerblue;
}

body {
    background-image: url("Images/analyst.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    position: relative;
    top: 300px;
    color: white;
}

footer {
    position: relative;
    top: 800px;
}
#sylvain {
    top: 100px;
}

